
#runs {
    position: relative;
   
    background-image: url("../assets/seattle1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 90vw;
    height: calc(90vw * 642 / 900);
    margin: auto;
}



